<div class="col-md-12">
  <div class="group">
    <%= link_to("新增讀書會", new_group_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>讀書會名稱</td>
        <td>操作</td>
        <td>日期</td>
        <td>名額</td>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td>#</td>
          <td><%= truncate(group.title, length: 15 ) %></td>
          <td><%= link_to("我要參加", group_path(group), class: "btn btn-default") %></td>
          <td><%= group.created_at.strftime("%Y/%m/%d") %></td>
          <td><%= group.members.size %>人報名</td>
          <td>
            <% if current_user && group.editable_by?(current_user) %>
              <%= link_to("修改", edit_group_path(group), class: "btn btn-sm btn-default")%>
              <%= link_to("刪除", group_path(group),class: "btn btn-sm btn-default", method: :delete, data: { confirm: "你確定嗎？" } )%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>